
{% load static %}


<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'libs/flickity/dist/flickity.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/flickity-fade/flickity-fade.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fullpage.js/dist/fullpage.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/highlightjs/styles/codepen-embed.css' %}">
    <link rel="stylesheet" href="{% static 'libs/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/incline-icons/style.min.css' %}">

    <!-- Theme CSS -->
    
    <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
    <style type="text/css">
        .progress-circle {
      height: 15.625rem;
      position: relative;
      font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    
    .progress-circle .progressbar-text {
      text-align: center;
      color: #1c1c1c !important;
      margin-bottom: 0;
      line-height: 1;
    }
    
    .progress-circle .progressbar-text span {
      font-size: 1rem;
      display: block;
    }
    
    .progress-circle .progressbar-text .value {
      font-weight: 900;
      font-size: 4.199rem;
    }
    
    .progress-circle .progressbar-text b {
      font-size: 3.157rem;
      font-weight: 900;
    }
    
    .progress-circle svg {
      height: 100%;
      display: block;
    }
    </style>
    
    <title>W i t u s</title>



  </head>
  <body>
    <!-- NAVBAR
    ================================================= -->
    <nav class="navbar navbar-expand-xl navbar-light  fixed-top">
      <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'main' %}">
          <svg class="navbar-brand-svg" viewBox="0 0 245 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M0 0 L 20 10 L 0 20 Z" class="navbar-brand-svg-i" fill="currentColor"></path>
            <path d="M0 30 L 20 40 L 0 50 Z M20 45 L 0 55 L 20 65 Z M0 60 L 20 70 L 0 80 Z" fill="currentColor"></path>
            <text x="40" y="70" font-family="Arial, sans-serif" font-size="60" font-weight="bold" letter-spacing="-.025em" fill="currentColor">Witus</text>
          </svg>
        </a>
  
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

          <!-- Social -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item-divider">
              <span class="nav-link">
                <span></span>
              </span>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-comment-dots"></i>
                <span class="d-xl-none ml-2">
                  kakao
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fab fa-twitter"></i> 
                <span class="d-xl-none ml-2">
                  Twitter
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fab fa-instagram"></i> 
                <span class="d-xl-none ml-2">
                  Instagram
                </span>
              </a>
            </li>
          </ul>

          <!-- Links -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a href="{% url 'main' %}" class="nav-link">
                home
              </a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarLandings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                team
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarLandings">
                <a class="dropdown-item " href="app.html">
                  축구
                </a>
                <a class="dropdown-item  active " href="{% url 'team_post' %}">
                  농구
                </a>
                <a class="dropdown-item " href="fullpage.html">
                  족구
                </a>
              </div>
            </li>

            <li class="nav-item ">
              <a href="{% url 'sportmap' %}" class="nav-link">
                sport map
              </a>
            </li>

            <!-- 비로그인시 -->
            {% if not user.is_authenticated %}
            <li class="nav-item ">
              <a href="{% url 'signin' %}" class="nav-link">
                sign in
              </a>
            </li>
            
            <li class="nav-item">
              <a href="{% url 'signup' %}" class="nav-link">
                sign up
              </a>
            </li>
            <!--로그인시-->
            {% else %}
            <li class="nav-item ">
              <a href="{% url 'my_page' %}" class="nav-link">
                my page
              </a>
            </li>

            <li class="nav-item ">
              <a href="{% url 'my_page_shinchung' %}" class="nav-link">
                calendar
              </a>
            </li>
            
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link">
                log out
              </a>
            </li>
            {% endif %}
            
          </ul>

        </div> <!-- / .navbar-collapse -->
  
      </div> <!-- / .container -->    
    </nav>


    <!-- TESTIMONIALS
    ================================================== -->
    <section class="section" id="testimonials">
      
      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6">
            
            <!-- Heading -->
            <h2 class="mb-4 text-center">
              {{ team_post }}
            </h2>
      
            <p>팀장 : {{ team_post.manager.user_of.user.nickname }} / {{ team_post.manager }}</p>
            <p>지역 : {{ team_post.area }}{{ team_post.area_detail }}</p>
            <p>일정 : {{ team_post.date_time }}</p>
            <p>설명 : {{ team_post.discription }}</p>
            <p>인원 : {{ team_post.people_count }} / {{ team_post.max_people }}</p>
            <p>팀원 : </p>
            {% for member in members %}
              <p>{{ member.user_name.user_of.user }}</p>
            {% endfor %}
            <p>팀 평균 수준 : </p>
            <div class="row align-items-center mt-3">
              <div class="col-md-5">
                <div class="progress-circle mb-4" data-options='{"progress":{{ basket_level }},"text":"<span class=&#39;text-700 pt-2&#39;>Basketball<br/>Level</span>"}'></div>
              </div>
              <div class="col-md-6 pl-md-1 text-left mt-8 mt-md-0">
                <div class="progress-line mr-4" data-options='{"progress":{{ team_post.level_pass }},"text":"Pass"}'></div>
                <div class="progress-line mr-4 mt-4" data-options='{"progress":{{ team_post.level_shoot }},"text":"Shoot"}'></div>
                <div class="progress-line mr-4 mt-4" data-options='{"progress":{{ team_post.level_dribble }},"text":"Dribble"}'></div>
                <div class="progress-line mr-4 mt-4" data-options='{"progress":{{ team_post.level_defense }},"text":"Defense"}'></div>
              </div>
            </div>

            {% if team_post.pk not in jiwon_list and user.is_authenticated and team_post.manager != user %}
             <!-- 로그인시 -->
             <form action="{% url 'team_jiwon' %}" method="post" enctype="multipart/form-data" class="">
               {% csrf_token %}
               <input type="hidden" name="url" value="{{ request.path }}">
               <button type="submit" class="btn btn-outline-primary" name="jiwon" value="{{ team_post.pk }}">
                 지원하기
               </button>
             </form>
           {% elif team_post.pk in jiwon_list and user.is_authenticated and team_post.manager != user %}
             <form action="{% url 'team_cancel' %}" method="post" enctype="multipart/form-data" class="">
               {% csrf_token %}
               <input type="hidden" name="url" value="{{ request.path }}">
               <button type="submit" class="btn btn-outline-primary" name="jiwon_cancel" value="{{ team_post.pk }}">
                  팀 탈퇴
               </button>
             </form>

           {% else %}
           {% endif %}
          <hr>
          <form method="post">
            {% csrf_token %}
            <div class="row no-gutters">
                  <div class="col-auto">
                    <!-- Avatar -->
                  <div class="avatar mr-3">
                    <img src="{{ user.Photo }}" alt="my_img" class="img-cover">
                  </div>
                </div>
                <div class="col">
                {{ form.text }}
              </div>
            </div> <!-- / .row -->
            <div class="">
              <button type="submit" class="btn btn-primary" name="pk" value="{{ i.pk }}">댓글 작성</button>
            </div>

          </form>
          

          <!-- Comment -->
          {% for i in comments %}
            <div class="row no-gutters mb-4">
              <div class="col-auto">
                
                <!-- Avatar -->
                <div class="avatar mr-3">
                  <img src="{{ i.author.Photo }}" alt="..." class="img-cover">
                </div>

              </div>
              <div class="col">
                
                <!-- Meta -->
                <p class="mb-1 text-muted text-xs">
                  by <strong class="text-body">{{ i.author.nickname }}</strong> {{ i.created_date }}
                </p>
                
                <!-- Text -->
                <p class="mb-0 text-sm">
                  {{ i.text }}
                </p>

              </div>
            </div>
          {% endfor %}
          </div>
        </div>
        
      </div> <!-- / .container -->
  

  <!-- FOOTER
    ================================================== -->
    <footer class="section bg-dark">

      <!-- Triangles -->
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

      <!--Content -->
      <div class="container">
        <div class="row align-self-center">
          <div class="col-md-auto">

            <!-- Brand -->
            <p>
              <a href="#" class="footer-brand text-white">
                <svg class="footer-brand-svg" viewBox="0 0 235 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path d="M0 0 L 20 10 L 0 20 Z" class="text-primary" fill="currentColor"></path>
                  <path d="M0 30 L 20 40 L 0 50 Z M20 45 L 0 55 L 20 65 Z M0 60 L 20 70 L 0 80 Z" fill="currentColor"></path>
                  <text x="40" y="70" font-family="Arial, sans-serif" font-size="60" font-weight="bold" letter-spacing="-.025em" fill="currentColor">incline.</text>
                </svg>
              </a>
            </p>
        
          </div>
          <div class="col-md">
        
            <!-- Links -->
            <ul class="list-unstyled list-inline text-md-right">
              <li class="list-inline-item mr-2">
                <a href="#" class="text-white">
                  Terms and conditions
                </a>
              </li>
              <li class="list-inline-item mr-2">
                <a href="#" class="text-white">
                  Privacy policy
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-white">
                  Contact us
                </a>
              </li>
            </ul>

          </div>
        </div> <!-- / .row -->
        <div class="row align-items-center">
          <div class="col-md">
        
            <!-- Copyright -->
            <p class="text-white text-muted">
              <small>
                &copy; Copyright <span class="current-year"></span> Simpleqode. All rights reserved.
              </small>
            </p>

          </div>
          <div class="col-md">
        
            <!-- Social links -->
            <ul class="list-inline list-unstyled text-md-right">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item ml-3">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item ml-3">
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </footer>
  </body>

<!-- JAVASCRIPT
================================================== -->
<!-- Global JS -->
<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    

<!-- Plugins JS -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/fullpage.js/dist/fullpage.min.js' %}"></script>
<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/progressbar.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>