{% extends 'first/base.html' %}
{% load static %}

{% block content %}

    <section class="section pb-0">

      <!-- Content -->
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            
            <!-- Title -->
            <h6 class="title">
              Help center
            </h6>

          </div>
          <div class="col-md-10">

            <!-- Heading -->
            <h3 class="mb-4">
              Need help? Browse our <span class="text-primary">FAQs</span>
            </h3>

            <!-- Subheading -->
            <p class="text-muted mb-5">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione architecto nobis perspiciatis error itaque ab voluptas nam officiis, necessitatibus perferendis, accusamus, adipisci amet, explicabo eligendi voluptate quasi corporis in reprehenderit.
            </p>

            <!-- FAQ -->
            <div class="faq">
            
              <!-- Item -->
              <div class="faq-item">
                
                <!-- Heading -->
                <a href="#faq-item-content-1" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-1" aria-expanded="false" role="button">
                  Numquam odit architecto itaque adipisci eius quis sed praesentium?
                </a>

                <!-- Content -->
                <div class="faq-item-content collapse" id="faq-item-content-1">
                  <div class="faq-item-content-inner">
                    <p class="mb-0">

                      <div class="row">
                        <div class="col-sm-12">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </p>
                  </div>
                </div>

              </div>

              <!-- Item -->
              <div class="faq-item">
                
                <!-- Heading -->
                <a href="#faq-item-content-2" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-2" aria-expanded="false" role="button">
                  Delectus optio excepturi minima provident, dignissimos molestias, obcaecati harum asperiores?
                </a>

                <!-- Content -->
                <div class="faq-item-content collapse" id="faq-item-content-2">
                  <div class="faq-item-content-inner">
                    <p class="mb-0">
                      Alias animi rerum omnis ab tempora ratione voluptatem natus distinctio, aut perspiciatis, minima neque, reprehenderit asperiores deserunt et nesciunt ut enim veniam.
                    </p>
                  </div>
                </div>

              </div>

              <!-- Item -->
              <div class="faq-item">
                
                <!-- Heading -->
                <a href="#faq-item-content-3" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-3" aria-expanded="false" role="button">
                  Iusto atque deleniti, magnam dignissimos harum veniam consectetur facilis aut?
                </a>

                <!-- Content -->
                <div class="faq-item-content collapse" id="faq-item-content-3">
                  <div class="faq-item-content-inner">
                    <p class="mb-0">
                      Alias animi rerum omnis ab tempora ratione voluptatem natus distinctio, aut perspiciatis, minima neque, reprehenderit asperiores deserunt et nesciunt ut enim veniam.
                    </p>
                  </div>
                </div>

              </div>

              <!-- Item -->
              <div class="faq-item">
                
                <!-- Heading -->
                <a href="#faq-item-content-4" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-4" aria-expanded="false" role="button">
                  Numquam odit architecto itaque adipisci eius quis sed praesentium?
                </a>

                <!-- Content -->
                <div class="faq-item-content collapse" id="faq-item-content-4">
                  <div class="faq-item-content-inner">
                    <p class="mb-0">
                      Alias animi rerum omnis ab tempora ratione voluptatem natus distinctio, aut perspiciatis, minima neque, reprehenderit asperiores deserunt et nesciunt ut enim veniam.
                    </p>
                  </div>
                </div>

              </div>

              <!-- Item -->
              <div class="faq-item">
                
                <!-- Heading -->
                <a href="#faq-item-content-5" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-5" aria-expanded="false" role="button">
                  Delectus optio excepturi minima provident, dignissimos molestias, obcaecati harum asperiores?
                </a>

                <!-- Content -->
                <div class="faq-item-content collapse" id="faq-item-content-5">
                  <div class="faq-item-content-inner">
                    <p class="mb-0">
                      Alias animi rerum omnis ab tempora ratione voluptatem natus distinctio, aut perspiciatis, minima neque, reprehenderit asperiores deserunt et nesciunt ut enim veniam.
                    </p>
                  </div>
                </div>

              </div>

              <!-- Item -->
              <div class="faq-item">
                
                <!-- Heading -->
                <a href="#faq-item-content-6" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-6" aria-expanded="false" role="button">
                  Iusto atque deleniti, magnam dignissimos harum veniam consectetur facilis aut?
                </a>

                <!-- Content -->
                <div class="faq-item-content collapse" id="faq-item-content-6">
                  <div class="faq-item-content-inner">
                    <p class="mb-0">
                      Alias animi rerum omnis ab tempora ratione voluptatem natus distinctio, aut perspiciatis, minima neque, reprehenderit asperiores deserunt et nesciunt ut enim veniam.
                    </p>
                  </div>
                </div>

              </div>

              <!-- Item -->
              <div class="faq-item">
                
                <!-- Heading -->
                <a href="#faq-item-content-7" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-7" aria-expanded="false" role="button">
                  Numquam odit architecto itaque adipisci eius quis sed praesentium?
                </a>

                <!-- Content -->
                <div class="faq-item-content collapse" id="faq-item-content-7">
                  <div class="faq-item-content-inner">
                    <p class="mb-0">
                      Alias animi rerum omnis ab tempora ratione voluptatem natus distinctio, aut perspiciatis, minima neque, reprehenderit asperiores deserunt et nesciunt ut enim veniam.
                      Alias animi rerum omnis ab tempora ratione voluptatem natus distinctio, aut perspiciatis, minima neque, reprehenderit asperiores deserunt et nesciunt ut enim veniam.
                      Alias animi rerum omnis ab tempora ratione voluptatem natus distinctio, aut perspiciatis, minima neque, reprehenderit asperiores deserunt et nesciunt ut enim veniam.
                      Alias animi rerum omnis ab tempora ratione voluptatem natus distinctio, aut perspiciatis, minima neque, reprehenderit asperiores deserunt et nesciunt ut enim veniam.
                      Alias animi rerum omnis ab tempora ratione voluptatem natus distinctio, aut perspiciatis, minima neque, reprehenderit asperiores deserunt et nesciunt ut enim veniam.
                    </p>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

{% endblock %}